.profile__image{
    width: 100%;
    top: 155.25px;
    left: 177.5px;
}

@media screen and (min-width:360px) and (max-width:169px) {
    .profile__image {
        width: 80%;
    }
    
}
/* width: 168.75px
height: 127.5px
top: 155.25px
left: 177.5px */
